
.meta {
  position: absolute;
  top: 0;
  left: calc(100% - 340px);
  height: inherit;
  width: auto;
  max-width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__img {
    min-width: 48px;
    min-height: 100%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 70%;
      max-width: 70%;
    }
  }
  &__tags {
    max-width: 185px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    &__title {
      font-size: 12px;
      line-height: 16px;
      color: #333;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &__artist {
      color: #999;
      font-size: 11px;
      line-height: 16px;
    }
  }
}