/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.av__playback {
  margin: 0 auto;
  height: 100%;
  width: 40%;
  max-width: 770px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio__controls {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .icons {
    align-self: center;
    color: hsla(0, 0%, 100%, .6);
    width: 260px;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }

  .progress {
    height: 20px;
    display: flex;
    justify-content: space-between;
    
    &__currentTime, &__songDuration {
      width: 3em;
      font-size: 12px;
      font-family: Helvetica, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__bar {
      flex-grow: 1;
      align-self: center;
      border-radius: 5px;
      background: #404040;
      height: 5px;
      position: relative;

      &__percent {
        position: absolute;
        height: inherit;
        border-radius: 5px;
        background: white;
        z-index: 5;
        cursor: pointer;
      }

      &__translucent {
        flex-grow: 1;
        align-self: center;
        height: 5px;
        position: relative;
        z-index: 50;
        cursor: pointer;
      }
    }
  }
}

.media__toggles {
  position: absolute;
  top: 0;
  right: 15px;
  width: auto;
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  flex-direction: space-between;
  justify-content: center;
  align-items: center;
  // padding: 0 5px;
  height: 100%;
}

.fa-react {
  padding-left: 5px;
}


.meta {
  position: absolute;
  left: 0px;
  top: 0px;
  height: inherit;
  width: auto;
  max-width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__img {
    width: 82px;
    height: 100%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 70%;
      max-width: 70%;
    }
  }
  &__tags {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    &__title {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.21px;
      color: #fff;
    }
    &__artist {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.audio__playlist {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 82px);
  width: 350px;
  display: flex;
  flex-direction: column;
  background: #2f3136;
  color: rgb(246, 246, 247);
  // box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 12px;
  overflow: auto;
  z-index: 600;
  >span {
    display: flex;
    height: 33px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    .songNum {
      width: 33px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .songName {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
    }
    .songDuration {
      width: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


.visualizer {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 82px);
  width: 100%;
  background: black;
  z-index: 500;
}