@import url('https://use.fontawesome.com/releases/v5.4.2/css/all.css');
@import './components/AudioControls.scss';
@import './components/AudioDuration.scss';
@import './components//AudioMeta.scss';
@import './components/AudioPlaylist.scss';
@import './components/AudioVisualizer.scss';
@import './components/MediaToggles.scss';
@import './components/VolumeSlider.scss';

.av__background {
  width: 100vw;
  position: absolute;
  bottom: 0;
  color: white;
  height: var(--react-media-vis-height);
  user-select: none;
  background: #282828;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);

  .av__container {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
