
.meta {
  margin: 0 auto;
  height: 40px;
  width: auto;
  max-width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  &__img {
    width: var(--react-media-vis-height);
    height: 100%;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 40px;
      max-width: 40px;
    }
  }
  &__tags {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #fff;
    }
    &__artist {
      color: #aaa;
    }
  }
}
