.av__playback {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 16px;
    height: auto;
    width: 260px;
    // max-width: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .icons {
      align-self: center;
      color: hsla(0, 0%, 100%, .6);
      width: 260px;
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
    }
  }