
.progress__container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10px;
  top: -3px;
  cursor: pointer;
  display: flex;

  .progress {
    justify-self: center;
    align-self: center;
    height: 2px;
    width: 100%;
    
    &__bar {
      flex-grow: 1;
      align-self: center;
      border-radius: 2px;
      background: #404040;
      height: 100%;
      position: relative;

      &__percent {
        position: absolute;
        height: inherit;
        background: #ff0000;
        z-index: 5;
        cursor: pointer;
      }

      &__translucent {
        flex-grow: 1;
        align-self: center;
        height: 100%;
        position: relative;
        z-index: 50;
        cursor: pointer;
      }
    }
  }
}
