/* add css styles here (optional) */
@import url('https://use.fontawesome.com/releases/v5.4.2/css/all.css');


.av {
  width: 100vw;
  position: fixed;
  bottom: 0;
  color: white;
  height: 82px;
  user-select: none;
  background: #282828;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
}
