@import url('https://use.fontawesome.com/releases/v5.4.2/css/all.css');
@import './components/AudioControls.scss';
@import './components/AudioDuration.scss';
@import './components//AudioMeta.scss';
@import './components/AudioPlaylist.scss';
@import './components/AudioVisualizer.scss';
@import './components/MediaToggles.scss';
@import './components/VolumeSlider.scss';

.av__background {
  width: 100vw;
  position: absolute;
  bottom: 0;
  color: white;
  height: var(--react-media-vis-height);
  user-select: none;
  background: #f2f2f2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
  border-top: 1px solid #cecece;

  .av__container {
    position: absolute;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

:global(.react-media-vis-body) {
  height: calc(100vh - var(--react-media-vis-height));
}

:global(html) {
  overflow: auto;
}

.audio__playlist {
  position: absolute;
  top: -665px;
  right: 25px;
  height: 660px;
  width: 480px;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  background: #fff;
  border-radius: 5px;
  color: rgb(246, 246, 247);
  font-size: 12px;
  z-index: 600;

  .playlist__container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: inherit;
    overflow: auto;
    color: black;

    .playlist__header {
      height: 40px;
      width: 480px;
      padding: 8px;
      font-size: 16px;
      border-radius: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid rgba(224, 224, 224, 0.6);
      background: white;
      position: fixed;
      z-index: 1;
    }

    .playlist__content {
      >span {
        display: flex;
        height: 56px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        border-bottom: 1px solid rgba(224, 224, 224, 0.2);
  
        .songNum {
          width: 56px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
  
        .songName {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
        }
        .songDuration {
          width: 4em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}